@import "tailwindcss";

html,
body {
  overflow: hidden;
}

@layer utilities {
  .scroll-area {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll-area::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}
